<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bg-gray-900 min-h-screen flex flex-col text-white">

    <nav class="bg-gray-800 p-4 shadow-lg w-full flex items-center">
        <a href="/" class="text-xl font-bold text-white flex-1">Climate Solutions</a>
        <a href="/about" class="btn btn-ghost text-white">About</a>
    </nav>
    
    <div class="flex flex-col items-center justify-center flex-grow p-6">
        <div class="bg-gray-700 p-6 rounded-xl text-center shadow-md w-full max-w-md">
            <h1 class="text-3xl font-bold text-white">Oops! That Page does not exist</h1>
        </div>
        
       
        <img src="../media/error.jpg" alt="404 Not Found"
        class="mt-6 rounded-md shadow-md object-cover"
        style="width: 40%; height: 30%;">
    
        
        <a href="/" class="btn btn-primary mt-6">Go Back Home</a>
    </div>

</body>
</html>
